.reviewItem {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  color: #333;
}

/* Тёмная тема */
.reviewItem.dark {
  background-color: #222;
  border-color: #555;
  color: #eee;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user {
  font-weight: bold;
  color: #333;
}

.reviewItem.dark .user {
  color: #ddd;
}

.rating {
  color: gold;
}

.reviewText {
  margin: 0;
}

.reviewItem.dark .reviewText {
  color: #ccc;
}
