.ingredients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  color: #555; 
  transition: color 0.3s;
}

.ingredients.light {
  color: #555;
}

.ingredients.dark {
  color: #ccc;
}

.ingredientsLabel {
  font-weight: bold;
}

.ingredientsList {
  display: inline;
}

.ingredientItem {
  display: inline;
}
