.restaurantView {
  max-width: 800px;
  margin: 0 auto;
}

.menuSection,
.reviewsSection {
  margin-top: 30px;
}

.menuItems,
.reviews {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reviewFormAdd {
  margin-top: 30px;
}
